* {
  margin: 0;
  padding: 0;
}
  .container{
    background-color: #8EC5FC;
    align-self: center;
    color: #343a40;
    text-align: center;
  }
  img {
    width: 14rem;
  } 
  p{
    font-family: "Advertencia", cursiva;
    font-size: medium;
    font-style: oblique;
    text-align: center;
    color: black;
  }